<div class="footer py-5">
    <div class="container">
        <div class="footer-head">
            <h5 class="fw-bolder">Get The FreshCart App</h5>
            <p class="text-muted">We Will Send You a link , open it on your phone to download the app</p>
        </div>
        <div class="input d-flex justify-content-between">
            <input type="text" placeholder="Email..." class="w-75 ms-5 form-control">
            <button class="btn bg-main text-white">Share App Link</button>
        </div>
        <hr>
        <div class="payment d-flex justify-content-between align-items-center">
            <div class="icons">
                <span>Payment Partners</span>
                <span><i class="fa-brands fa-amazon"></i></span>
                <span><i class="fa-brands fa-cc-amex"></i></span>
                <span><i class="fa-brands fa-cc-mastercard"></i></span>
                <span><i class="fa-brands fa-cc-paypal"></i></span>
            </div>
            <div class="store">
                <span>Get deliveries with FreshCart</span>
                <div class="btn bg-black text-white ms-2 apple">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                            <span><i class="fa-brands fa-apple fa-2x"></i> </span>
                        </div>
                        <div class="col-md-10">
                            <span>Availiable on The</span>
                            <br>
                            <span>App Store</span>
                        </div>
                    </div>     
                </div>
                <div class="btn bg-black text-white ms-2 google">
                    <div class="row align-items-center">
                        <div class="col-md-2">
                             <span><i class="fa-brands fa-google-play fa-2x text-danger"></i> </span>
                        </div>
                        <div class="col-md-10">
                            <span>Get it on </span>
                            <br>
                            <span>Google Paly</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>

    </div>
</div>

<!-- Availiable on the
App Store -->
<!-- <i class="fa-brands fa-apple"></i>    -->