<div class="py-5 w-75 mx-auto" id="Remail" >
    <form [formGroup]="forgetPassword" (ngSubmit)="handleForgetPassword(forgetPassword)" >
        <label for="email" class="fw-bold">Email :</label>
        <input [class.is-invalid]="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched"
            [class.is-valid]="forgetPassword.get('email')?.errors == null" type="email"  id="email" formControlName="email" class="form-control my-2 py-2">
        <div *ngIf="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched" class="alert alert-danger">
            <p class="m-0" *ngIf="forgetPassword.get('email')?.getError('required')" >Email is Required .</p>
            <p class="m-0" *ngIf="forgetPassword.get('email')?.getError('email')" >Enter Valid Email .</p>
        </div>
        <button [disabled]="forgetPassword.invalid" class="btn btn-success ms-auto d-block">
            <i *ngIf="isloading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!isloading">Send Email</span>
        </button>
    </form>
</div>
<div class="py-5 w-75 mx-auto d-none" id="Vcode">
   <h5 *ngIf="apiError" class="alert alert-danger">{{apiError}}</h5>
    <form [formGroup]="VerifyCode" (ngSubmit)="handleVerifyCode(VerifyCode)" >
        <label for="resetCode" class="fw-bold">resetCode :</label>
        <input type="text"  id="resetCode" formControlName="resetCode" class="form-control my-2 py-2">
        <div *ngIf="forgetPassword.get('resetCode')?.errors && forgetPassword.get('resetCode')?.touched" class="alert alert-danger">
            <p class="m-0" *ngIf="forgetPassword.get('resetCode')?.getError('required')" >resetCode is Required .</p>
            <p class="m-0" *ngIf="forgetPassword.get('resetCode')?.getError('pattern')" >resetCode is not valid .</p>
        </div>
        <button [disabled]="VerifyCode.invalid" class="btn btn-success ms-auto d-block">
            <i *ngIf="isloading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!isloading">Verify Code</span>
            
        </button>
    </form>
</div>