<div class="w-75 mx-auto py-5">
    <h4>Reset Password Now :</h4>
    <h5 *ngIf="apiErrors" class="alert alert-danger">{{apiErrors}}</h5>
    <form (ngSubmit)="resetPassword(resetForm)" [formGroup]="resetForm">
        
        <label for="email">email :</label>
        <input [class.is-invalid]="resetForm.get('email')?.errors && resetForm.get('email')?.touched"
        [class.is-valid]="resetForm.get('email')?.errors == null"
         type="text" formControlName="email" id="email" class="form-control mb-2">
        <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched" class="alert alert-danger">
            <p class="m-0" *ngIf="resetForm.get('email')?.getError('email')" >Email Not Valid </p>
            <p class="m-0" *ngIf="resetForm.get('email')?.getError('required')">Email Must Be Requird</p>
        </div>
        <label for="newPassword">newPassword :</label>
        <input [class.is-invalid]="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched"
        [class.is-valid]="resetForm.get('newPassword')?.errors == null" type="password" formControlName="newPassword" id="newPassword" class="form-control mb-2">
        <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched" class="alert alert-danger">
            <p class="m-0" *ngIf="resetForm.get('newPassword')?.getError('required')">New Password is Requird</p>
            <p class="m-0" *ngIf="resetForm.get('newPassword')?.getError('pattern')">New Password is NotValid</p>
        </div>

       
        <button [disabled]="resetForm.invalid" type="submit" class="btn btn-success ms-auto d-block">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="!isLoading">Reset</span>
        </button>
    </form>
</div>